__pycache__/
*.pyc
*.h5
*.nc
big_data/
programs/P02_singularity_ladders/pcont_sol_*.npy
programs/P02_singularity_ladders/*_sols*.npy
programs/**/*.log
programs/P02_singularity_ladders/linevo_*.npy
programs/P02_singularity_ladders/td_*.npy
programs/P02_singularity_ladders/block_*.npy
programs/P02_singularity_ladders/diag_*.npy
programs/P05_merger/*.npy
programs/P02_singularity_ladders/gclm_q1_a*.npy
programs/P02_singularity_ladders/dac_*_last.npy
programs/P02_singularity_ladders/dpc_last.npy
programs/P02_singularity_ladders/delta_last.npy
programs/P02_singularity_ladders/sac_*_last.npy
programs/P02_singularity_ladders/diag_svd_vecs.npy
programs/P02_singularity_ladders/fccf_l*_s*.npy
programs/P02_singularity_ladders/pin_*_last.npy
programs/P02_singularity_ladders/pin_C_snap.npy
programs/P02_singularity_ladders/pin_C_start.npy
programs/P02_singularity_ladders/sac_S1_restart.npy
