# LaTeX build products (the compiled PDFs are kept)
/manuscript/*.aux
/manuscript/*.log
/manuscript/*.fls
/manuscript/*.fdb_latexmk
/manuscript/*.out
/manuscript/*.toc
/manuscript/*.synctex.gz
/manuscript/*.bbl
/manuscript/*.blg
/supplementary/*.aux
/supplementary/*.log
/supplementary/*.fls
/supplementary/*.fdb_latexmk
/supplementary/*.out
/supplementary/*.toc
/supplementary/*.synctex.gz
/supplementary/*.bbl
/supplementary/*.blg
/submission/*.aux
/submission/*.log
/submission/*.fls
/submission/*.fdb_latexmk
/submission/*.out
/submission/*.toc
/submission/*.synctex.gz
/submission/*.bbl
/submission/*.blg
__pycache__/
